[FORMAT]
max-line-length=120

[MASTER]
ignore-patterns=^tests/.*,^.*tests/.*,^tests$
ignore=tests

[MESSAGES CONTROL]
# Enable or disable the messages, categories or checker with the following options:
# "all" (enable all messages), "default" (enable all default messages),
# "no" or "yes" to explicitly disable or enable specific messages,
# "CATEGORY" to enable all messages in that category (i.e. "design" or
# "unused").
disable=too-few-public-methods,R0801,R0401  # R0401 needs removed at some point after builder is fixed